<h2><%= @restaurant.name %></h2>

<p><%= @restaurant.address %></p>

<p><%= @restaurant.category %></p>

<h4>Reviews</h4>
<ul>
  <% @reviews.each do |review| %>
    <li><%= "#{review.content} | Ratings: #{review.rating}" %></li>
  <% end %>
</ul>

<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back to restaurant list", restaurants_path %>

